@model EmployeeData.Models.EmployeeModel

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h3>Edit </h3>
    <hr />

    @using (Html.BeginForm("Edit", "Employee"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    <label class="control-label col-md-2">Gender</label>
                    Male
                    @Html.RadioButtonFor(model => model.EmployeeGender, "Male")
                    Female
                    @Html.RadioButtonFor(model => model.EmployeeGender, "Female")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label class="control-label col-md-2" for="CountryId">Country</label>
                    @*ViewBag.CityList is holding all the cities values*@
                    @Html.DropDownListFor(model => model.CountryId, new SelectList(Model.Country, "CountryId", "CountryName"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="active">Active</label>
                @Html.CheckBox("Active")
                
                @*@if (Model.Active = true)
                {
                    @Html.CheckBoxFor(model => model.Active, new { @checked = true })
                }
                else
                {
                    @Html.CheckBoxFor(model => model.Active)
                }*@
            </div>

            <div class="checkbox">

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>


            </div>
        </div>
        }


</body>
</html>
